/_site/
/.quarto/
*.html
!**/analyse.html
!GreenEquity_HN.html
!BergWaldDynamik.html
!PSMhydro.html
!emissionsinversion-demo.html
!bfn-gdi-cockpit.html
!KieferMistel.html
.DS_Store

**/*.quarto_ipynb
